.content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    max-width: var(--max-width-default);
    margin: auto;
    padding: 0 15px 20px;
}

@media screen and (max-width: 990px) {
    .content {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 50% 50%;
    }
}
