.container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 35px;

    &.container {
        margin: 8px 0;
    }
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}

.primary {
    color: #fff;
    background-color: var(--red-color);

    &:hover {
        cursor: pointer;
        background-color: #031d87;
    }
}

.outline {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;

    &:hover {
        background-color: var(--red-color);
        border-color: var(--red-color);
    }
}

.large {
    padding: 0 35px;
    height: 50px;
}

.left-icon {
    margin-right: 15px;
    font-size: 2rem;
}
