.container {
    padding: 60px 0;
    margin-bottom: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    padding: 0 15px;
    margin-bottom: 10px;
}

.content {
    color: #fff;
    text-align: center;
    a {
        font-size: 15px;
        color: #fff;
        margin-right: 8px;

        &:hover {
            color: var(--red-color);
        }
    }

    span {
        color: var(--red-color);
        font-size: 15px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 18px;
    }
}
