.content {
    width: 100%;
    max-width: var(--max-width-default);
    margin: 30px auto;
    padding: 0 5%;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 38% 17% 17% 18%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.title {
    padding: 14px 0;
    font-size: 14px;
    color: var(--text-color);
    border-right: 1px solid #ebebeb;
    text-align: center;

    &:last-child {
        border-right: unset;
    }
}

.body {
    width: 100%;
    display: grid;
    grid-template-columns: 38% 17% 17% 18%;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

// item

.item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-right: 1px solid #ebebeb;
}

.item-img {
    width: 64px;
    height: 64px;
    margin-right: 20px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.name {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 1.4;

    &:hover {
        color: var(--red-color);
    }
}

.size {
    font-size: 14px;
    color: #555;
}

.price {
    font-size: 13px;
}

.quality {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ebebeb;
    min-width: 100px;
    position: relative;

    input {
        width: 40px;
        font-size: 18px;
        height: 30px;
        text-align: center;
    }

    button {
        padding: 0 10px;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        color: #555;
    }

    .remove-btn {
        position: absolute;
        bottom: 10px;
        font-size: 14px;

        &:hover {
            color: var(--red-color);
        }
    }
}

.total {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    color: var(--text-color);
    border-right: 1px solid #ebebeb;
}

.delete-btn {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        padding: 10px 20px;
        font-size: 1.6rem;
        color: #555;

        &:hover {
            color: var(--red-color);
            cursor: pointer;
        }
    }
}

// bottom

.bottom {
    width: 100%;
    padding-top: 40px;
    padding-right: 100px;
}

.bottom-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;

    h4 {
        font-weight: 500;
        padding-right: 20px;
        color: var(--text-color);
    }

    p {
        color: var(--red-color);
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn {
    width: unset;
    border: 1px solid transparent;
    padding: 0 30px;

    &:first-child {
        background-color: #f7f7f7;
        margin-right: 20px;
    }

    &:nth-child(2) {
        color: #fff;
        background-color: var(--red-color);
    }

    &:hover {
        background-color: #fff;
        border-color: var(--red-color);
        color: var(--red-color);
        cursor: pointer;
    }
}

@media screen and (max-width: 990px) {
    .content {
        padding: 0 15px;
    }

    .header {
        display: none;
    }

    .body {
        grid-template-columns: 75% 25%;
    }

    .item-img {
        min-height: 80px;
        min-width: 80px;
    }

    .bottom {
        padding-right: 0;
        padding-top: 20px;
    }

    .bottom-total {
        justify-content: flex-start;
    }

    .btn-group {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 20px;

        &:first-child {
            margin-right: 0;
        }
    }
}
