@import 'normalize.css';

:root {
    --text-color: #252525;
    --text-light-color: #555;
    --red-color: #e1182c;

    --max-width-default: 1150px;
    --default-padding: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

input {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

// color filter background color

.black {
    background-color: #000;
}
.white {
    background-color: #fff;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.brown {
    background-color: brown;
}
.violet {
    background-color: #800080;
}
.grey {
    background-color: grey;
}

@media screen and (max-width: 990px) {
    :root {
        --max-width-default: 720px;
    }
}
